@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|Roboto');

body{
	font-size: 16px;
}


h1,
h3,
p, 
a{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-size: 1.5em;
}

nav a{
	color: inherit;
	text-decoration: none;
	padding-bottom: 1.25em;
	line-height: 1.5em;
}

h2{
	font-family: 'Noto Serif', serif;
	font-size: 1.25em;
}

h3, a{
	font-size: 1em;
}

p{
	font-size:1em;
	line-height: 1.5em;
}

img {
	width: 50%;
}

.project_figure{
	margin:2em;
}

.project_caption{
	width: 30em;
	margin:2em;
}


