/** {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}*/

@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|Roboto');

body{
	font-size: 16px;
}

header{
	margin: 2em;
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

h1,
h3,
p, 
a{
	font-family: 'Roboto', sans-serif;
}

h1{
	font-size: 1.5em;
}

nav {
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

nav a{
    color: inherit;
	text-decoration: none;
	/*padding-bottom: 1.25em;*/
	line-height: 1.5em;
	/*margin: 2em;*/
}

h2{
	font-family: 'Noto Serif', serif;
	font-size: 1.25em;
}

h3, a{
	font-size: 1em;
}

p{
	font-size:1em;
	line-height: 1.5em;
}

img {
	width: 100%;
}

.project_figure{
	/*margin:2em;*/
	width: 35em;
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    float: left;
}

.project_caption{
	width: 30em;
	/*margin:2em;*/
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    float: left;
}

footer{
    clear: both;
}

#wrapper {
	width: 1080px;
	/*margin-left: auto;
	margin-right: auto;*/
}
