h1{
	font-family: DINWeb, sans-serif!important;
	font-size: 25px;
}

nav a{
	color: inherit;
	text-decoration: none;
	padding-bottom: 20px;
}

h2{
	font-family: DINWeb, sans-serif!important;
	font-size: 18px;
}

h3, a{
	font-family: DINWeb, sans-serif!important;
	font-size: 15px;
}

img {
	width: 50%;
}

figcaption{
	font-family: DINWeb, sans-serif!important;
	font-size: 12px;	
}



